{% extends "layouts/base.html" %}

{% block title %} List Customer {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
    <link href="/static/assets/vendors/@coreui/icons/css/free.min.css" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}

    <div class="col-md-12">
        <div class="card ">
            <div class="card-header">
                <h4 class="card-title">List Customer</h4>
                <nav class="nav">
                    {#		<form class="form-inline" action="salesoutlet/search" method="GET">#}
                    {#		<input class="form-control mr-sm-2" type="search" name="search" placeholder="Search" aria-label="Search" value="{{ old('search') }}">#}
                    {#		<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>#}
                    {#		</form>#}
                    <a class="btn btn-info btn-sm" href="{% url 'CustomerNew' %}">Add New Customer</a>
                </nav>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table tablesorter " id="">
                        <thead class=" text-primary">
                        <tr>
                            <th>NS CODE / BRANCH CODE</th>
                            <th>DIST</th>
                            <th>PRINCIPAL</th>
                            <th>ADDRESS</th>
                            <th>LOCATION</th>
                            <th>OPTION</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if object_list %}
                            {% for data in object_list %}
                                <tr>
                                    <td>{{ data.ns_code }}</td>
                                    <td>{{ data.distributor.name }}</td>
                                    <td>{{ data.principal.name }}</td>
                                    <td>{{ data.address }}</td>
                                    <td>{{ data.location }}</td>
                                    <td>
                                        <a href="{% url 'CustomerEdit' data.id %}"
                                           class="btn btn-info btn-sm">
                                            <i class="c-icon cil-pencil"></i>
                                        </a>
                                        <a href="{% url 'CustomerDelete' data.id %}"
                                           class="btn btn-danger btn-sm"
                                           onclick="return confirm('Delete Customer {{ data.name }}')">
                                            <i class="c-icon cil-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                    {% if page_obj.has_other_pages %}
                        <ul class="pagination">
                            {% if page_obj.has_previous %}
                                <li>
                                    <a class="btn btn-light btn-sm" href="?page=1">&laquo; first</a>
                                    <a class="btn btn-light btn-sm"
                                       href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
                                </li>
                            {% else %}
                                <li>
                                    <span class="btn btn-light btn-sm disabled">&laquo; first</span>
                                    <span class="btn btn-light btn-sm disabled">&laquo;</span>
                                </li>
                            {% endif %}

                            {% for i in page_obj.paginator.page_range %}
                                {% if page_obj.number == i %}
                                    <li class="btn btn btn-dark btn-sm active"><span>{{ i }} <span class="sr-only">(current)</span></span>
                                    </li>
                                {% elif i <= page_obj.number|add:10 and i >= page_obj.number|add:-10 %}
                                    <li><a class="btn btn-light btn-sm" href="?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                            {% endfor %}

                            {% if page_obj.has_next %}
                                <li>
                                    <a class="btn btn-light btn-sm"
                                       href="?page={{ page_obj.next_page_number }}">&raquo;</a>
                                    <a class="btn btn-light btn-sm"
                                       href="?page={{ page_obj.paginator.num_pages }}">last {{ page_obj.paginator.num_pages }}
                                        &raquo;</a>
                                </li>
                            {% else %}
                                <li>
                                    <span class="btn btn-light btn-sm disabled">&raquo;</span>
                                    <span class="btn btn-light btn-sm disabled">last {{ page_obj.paginator.num_pages }} &raquo;</span>
                                </li>
                            {% endif %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
