{% extends "layouts/base.html" %}

{% block title %} New Distributor {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% load static %}
{% block stylesheets %}
    <link href="{% static 'assets/css/sol.css' %}" rel="stylesheet"/>
    <script src="{% static 'assets/js/core/sol.js' %}"></script>
{% endblock stylesheets %}

{% block content %}

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">NEW DISTRIBUTOR</div>

                    <div class="card-body">
                        <form action="{% url 'DistributorNew' %}" class="form" method="post">
                            {% csrf_token %}
                            <table class="table">
                                <tr>
                                    {{ form }}
                                    <td></td>
                                    <td>
                                        <button type="submit" name="Submit" class="btn btn-primary">Add</button>
                                    </td>
                                </tr>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
